
@font-face {
  font-family: banglaFont;
  src: url("/asset//fonts/bangla.ttf");
}


body {
  margin: 0;
  font-family: banglaFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  background-color: #4680ff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
}

.flex {
  display: flex;
}
.around{
  justify-content: space-around;
}
.beet{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.medel{
  align-items: center;
}
.logo{
  font-size: 2rem;
   text-transform: capitalize;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}
.icon{
  font-size: large;
}